@using JPNFinalProject.Models.ProductViewModels
@model ProductViewModel

@{
    ViewData["Title"] = "Produkter";
}

<link rel="stylesheet" href="~/css/Product/product.css" asp-append-version="true" />
<script src="~/js/Product/product.js" asp-append-version="true"></script>

<div id="leveringinfo" class="col-lg-12 row">
    <ul>
        <li>Fragt fra 10 kr</li>
        <li><span aria-hidden="true" >|</span></li>
        <li>Fri Levering til Matas butik ved køb for over 249 kr</li>
        <li><span aria-hidden="true" >|</span></li>
        <li>Leveringstid 1-2 hverdage</li>
        <li><span aria-hidden="true">|</span></li>
        <li>Byt gaver frem til 31. Januar 2017</li>
    </ul>
</div>

@*----Dette skal laves dynamisk, så den laver listen udfra database indholdet----*@
<div>
    <div class="col-lg-3 row">
        <div>
            <h3>Kategori</h3>
        </div>
        <div>
            <ul>
                <li>
                    <a href="/produkter/dufte">
                        <h3>Dufte</h3>
                    </a>
                </li>
                <li>
                    <a href="/produkter/hudpleje">
                        <h4>Hudpleje</h4>
                    </a>
                </li>
                <li>
                    <a href="/produkter/barbering">
                        <h4>Barbering</h4>
                    </a>
                    <ul>
                        <li>
                            <a href="/produkter/barbering/haarklippere">
                                <span>Hårklippere</span>
                            </a>
                        </li>
                        <li>
                            <a href="/produkter/barbering/skrabere">
                                <span>Skrabere</span>
                            </a>
                        </li>
                        <li>
                            <a href="/produkter/barbering/aftershaveogbalsam">
                                <span>Aftershave & Balsam</span>
                            </a>
                        </li>
                        <li>
                            <a href="/produkter/barbering/skumspritoggel">
                                <span>Skum, Sprit & Gel</span>
                            </a>
                        </li>
                        <li>
                            <a href="/produkter/barbering/skaegpleje">
                                <span>Skægpleje</span>
                            </a>
                        </li>
                        <li>
                            <a href="/produkter/barbering/barbermaskiner">
                                <span>BarberMaskiner</span>
                            </a>
                        </li>
                        <li>
                            <a href="/produkter/barbering/trimmere">
                                <span>Trimmere</span>
                            </a>
                        </li>
                        <li>
                            <a href="/produkter/barbering/tilbehoer">
                                <span>Tilbehør</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/produkter/hårpleje">
                        <h4>Hårpleje</h4>
                    </a>
                </li>
                <li>
                    <a href="/produkter/kropoghelse">
                        <h4>Krop og Helse</h4>
                    </a>
                </li>
                <li>
                    <a href="/produkter/tilbehoer">
                        <h4>Tilbehør</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-7">
            <button id="adjust" data-toggle="collapse" data-target="#extrasearch" class="form-control btn-info">Tilpas udvalg</button>
        </div>
        <div id="extrasearch" class="extrasearch collapse col-lg-7">
            <div>
                <h3 id="current">Aktuelt</h3>
            </div>
            <div>
                <input type="checkbox" /><label>Tilbud</label>
            </div>
            <hr />
            <div>
                <h3 id="price">Pris</h3>
            </div>
            <div>
                <input type="range" min="199" max="1399" />
            </div>
            <div>
                <label style="font-size: 10px">199 kr</label>
                <label style="font-size: 10px; float:right">1399 kr</label>
            </div>
            <hr />
            <div>
                <h3 id="labels">Mærker</h3>
            </div>
            <div>
                <input type="checkbox" /><label>BaByliss</label>
            </div>
            <div>
                <input type="checkbox" /><label>Braun</label>
            </div>
            <div>
                <input type="checkbox" /><label>Philips</label>
            </div>
            <div>
                <input type="checkbox" /><label>Remington</label>
            </div>
        </div>
    </div>
    <div class="col-lg-9 row">
        <div class="row">
            <div id="text">
                <text readonly="readonly">
                    Barberkost og kniv, skraber og gelé – en kær barbering har mange faconer. 
                    Uanset om du er til retro-metoden eller mere moderne værktøjer, er det vigtigt, at du bruger de rigtige redskaber. 
                    En god barbering er nemlig et must for en hver mand. Et skarpt blad, en fugtet hud og et blødgjort skæg er essentiel for din skægpleje. 
                    På matas.dk finder du flere forskellige produkter til skægpleje; fx skægbalsam, skægolie, barberblade, trimmere m.m. 
                    En god skægpleje holder dit skæg i god form. Læs også artiklen barberingsguide og få et perfekt skæg.
                </text>
            </div>
            <div>
                <h2 class="selectedheader">Hårklippere</h2>
            </div>
            <div id="sorting">
                <label>3 produkter</label>
                <label>|</label>
                <label>Sortér efter standard</label>
            </div>
        </div>
        <div>
            @foreach (var product in Model.ProductList)
            {
                <div class="product col-lg-1"></div>
                <div class="product col-lg-3">
                    <div id="@product.Id">
                        <img src="~/images/Product/@product.ImageSource" />
                    </div>
                    <div class="productInfo">
                        <label id="priceLabel">@product.Price</label>
                        <button id="basketbtn" class="btn btn-default">Læg i kurv</button>
                    </div>
                    <div class="productInfo">
                        <label id="pointLabel">Køb og få @product.PointGain point</label>
                    </div>
                    <div class="productInfo">
                        <label id="descriptionLabel">@product.Name</label>
                    </div>
                </div>
            }
            @*<div class="products col-lg-3">
                <div class="" id="product1">
                    <img src="~/images/Product/ProductList_200x150.png" />
                </div>
                <div class="productInfo">
                    <label id="priceLabel">300</label>
                    <button id="basketbtn" class="btn btn-default">Læg i kurv</button>
                </div>
                <div class="productInfo">
                    <label id="pointLabel">Køb og få 30 point</label>
                </div>
                <div class="productInfo">
                    <label id="descriptionLabel">Remington HC5600 E51 Pro Power Hair Clipper</label>
                </div>
            </div>
            <div class="products col-lg-3">
                <div id="product2">
                    <img src="~/images/Product/ProductList_200x150 (1).png" />
                </div>
                <div class="productInfo">
                    <label id="priceLabel">249</label>
                    <button id="basketbtn" class="btn btn-default">Læg i kurv</button>
                </div>
                <div class="productInfo">
                    <label id="pointLabel">Køb og få 25 point</label>
                </div>
                <div class="productInfo">
                    <label id="descriptionLabel">Remington Pro Power Hårklipper HC5200</label>
                </div>
            </div>
            <div class="products col-lg-3">
                <div id="product3">
                    <img src="~/images/Product/ProductList_200x150 (2).png" />
                </div>
                <div class="productInfo">
                    <label id="priceLabel">199</label>
                    <button id="basketbtn" class="btn btn-default">Læg i kurv</button>
                </div>
                <div class="productInfo">
                    <label id="pointLabel">Køb og få 20 point</label>
                </div>
                <div class="productInfo">
                    <label id="descriptionLabel">Remington Apprentice Hårklipper</label>
                </div>*@
            </div>
        </div>
    </div>
</div>

