@model JPNFinalProject.Models.OrderViewModels.BasketViewModel
@{
    ViewData["Title"] = "Basket";
}

<div id="index" class="row">
    <ul class="list-inline">
        <li><b>Indkøbskurv</b></li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="opacity: 0.5;"></span></li>
        <li>Fakturering og levering</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="opacity: 0.5;"></span></li>
        <li>Oversigt</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="opacity: 0.5;"></span></li>
        <li>Betaling</li>
    </ul>
</div>

<div class="row">
    <hr />
    <h3>Produkter</h3>
    <hr />
</div>


