@model JPNFinalProject.Models.OrderViewModels.DeliveryViewModel
@{
    ViewData["Title"] = "Delivery";
}

@section styles {
    <link rel="stylesheet" href="~/css/Order/delivery.css" />
}


<div id="index" class="row">
    <ul class="list-inline">
        <li>Indkøbskurv</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="opacity: 0.5;"></span></li>
        <li><strong>Fakturering og levering</strong></li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></li>
        <li>Oversigt</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="opacity: 0.5;"></span></li>
        <li>Betaling</li>
    </ul>
</div>

<div class="page-header text-center">
    <h3 style="center; background-color: #f3f5f6;">DINE OPLYSNINGER</h3>
</div>
<div class="col-sm-6">
    <form id="delivery-form" class="form-horizontal" method="post">
        <div class="row">
            <label for="name-input" class="col-sm-2">Navn*</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="name-input" name="name" value="" required asp-for="Name"/></div>
        </div>
        <div class="row">
            <label for="street-input" class="col-sm-2">Adresse*</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="street-input" name="street" value="" required asp-for="Street"/></div>
        </div>
        <div class="row">
            <label for="zip-input" class="col-sm-2">Postnr.*</label>
            <div class="col-sm-2"><input type="text" id="zip-input" class="form-control" name="zip" value="" pattern="[0-9]{3,4}" required asp-for="Zip"/></div>
            <label for="city-input" class="col-sm-1">By*</label>
            <div class="col-sm-7"><input type="text" id="city-input" class="form-control" name="city" value="" required asp-for="City"/></div>
        </div>
        <div class="row">
            <label for="phone-input" class="col-sm-2">Tlfnr.*</label>
            <div class="col-sm-10"><input type="tel" class="form-control" id="phone-input" name="phone" value="" required asp-for="Phone"/></div>
        </div>
        <div class="row">
            <label for="email-input" class="col-sm-2">Email*</label>
            <div class="col-sm-10"><input type="email" class="form-control" id="email-input" name="email" value="" required asp-for="Email"/></div>
            <input type="hidden" id="parcel-pickup" name="parcelpickup" value="" asp-for="ParcelPickup" />
        </div>

    </form>
</div>
<div class="clearfix"></div>

    <div class="page-header text-center">
        <h3 style="center; background-color: #f3f5f6;">AFHENTNING/LEVERING</h3>
    </div>

    <div style="margin-left:0;" class="row">
        <div style="border: 1px solid black" class="col-xs-2">
            <h4>1</h4>
            <p class="text-right">49,50</p>
        </div>
        <div style="border: 1px solid black" class="col-xs-2 col-half-offset">
            <h4>1</h4>
            <p class="text-right">49,50</p>
        </div>
        <div style="border: 1px solid black" class="col-xs-2 col-half-offset">
            <h4>1</h4>
            <p class="text-right">49,50</p>
        </div>
        <div style="border: 1px solid black" class="col-xs-2 col-half-offset">
            <h4>1</h4>
            <p class="text-right">49,50</p>
        </div>
        <div style="border: 1px solid black" class="col-xs-2 col-half-offset">
            <h4>1</h4>
            <p class="text-right">49,50</p>
        </div>
    </div>
<div class="col-sm-6">
    <form id="zip-search-form" class="form-horizontal">
        <div class="row">
            <label for="search-zip-input" class="col-sm-12">Find afhentningssted ved at indtaste postnummer</label>
        </div>

        <div class="row">
            <div class="col-sm-10"><input type="text" id="search-zip-input" class="form-control" name="search-zip" value="" pattern="[0-9]{3,4}"/></div>
            <div class="col-sm-2"><button id="search-parcel" class="btn btn-secondary">opdatér</button></div>
        </div>
    </form>
    <div class="search-result">
       <div class="row">
           <div class="col-sm-3">butik navn</div>
           <div class="col-sm-3">Hverdage</div>
       </div>
        <div class="row">
            <input class="pull-left" type="radio" name="parcel-pickup" value="ingen steder" style="margin-left:-15px" />
            <div class="col-sm-3">gade navn</div>
            <div class="col-sm-3">Søndage hellige</div>
        </div>
        <div class="row">
            <div class="col-sm-3">postnummer by</div>
            <div class="col-sm-3">status</div>
        </div>
    </div>
    <div class="search-result">
        <div class="row">
            <div class="col-sm-3">butik navn</div>
            <div class="col-sm-3">Hverdage</div>
        </div>
        <div class="row">
            <input class="pull-left" type="radio" name="parcel-pickup" value="der" style="margin-left:-15px" />
            <div class="col-sm-3">gade navn</div>
            <div class="col-sm-3">Søndage hellige</div>
        </div>
        <div class="row">
            <div class="col-sm-3">postnummer by</div>
            <div class="col-sm-3">status</div>
        </div>
    </div>
    <div class="search-result">
        <div class="row">
            <div class="col-sm-3">butik navn</div>
            <div class="col-sm-3">Hverdage</div>
        </div>
        <div class="row">
            <input class="pull-left" type="radio" name="parcel-pickup" value="her" style="margin-left:-15px" />
            <div class="col-sm-3">gade navn</div>
            <div class="col-sm-3">Søndage hellige</div>
        </div>
        <div class="row">
            <div class="col-sm-3">postnummer by</div>
            <div class="col-sm-3">status</div>
        </div>
    </div>

</div>
<div class="clearfix"></div>
<div class="pull-right"><input id="delivery-submit" type="submit"  form="delivery-form" class="btn btn-success" value="FORTSÆT TIL OVERSIGT">
</div>

@section scripts {
    <script src="~/js/Order/delivery.js"></script>
}
