@model JPNFinalProject.Models.OrderViewModels.OverviewViewModel
@{
    ViewData["Title"] = "Payment";
}

@section styles {
    <link rel="stylesheet" href="~/css/Order/payment.css" />
}

<div class="col-xs-10">
    <div id="index" class="row">
        <ul class="list-inline">
            <li>Indkøbskurv</li>
            <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="opacity: 0.5;"></span></li>
            <li>Fakturering og levering</li>
            <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="opacity: 0.5;"></span></li>
            <li><b>Oversigt</b></li>
            <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></li>
            <li>Betaling</li>
        </ul>
    </div>

</div>

 