@{
    ViewData["Title"] = "Home Page";
}

<a href="Employee" id="employ" class="btn btn-default">EmployeeIndex</a>

<a id="addRandom" class="btn btn-danger">Add Random Product</a>

<a id="addRandomCategory" class="btn btn-danger">Add Random Category</a>

<div class="demo"></div>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/SignalR/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>

    <script>
        let order = $.connection.order;
        let hub = $.connection.hub;
        console.log(order);
        console.log(hub);

        $('#employ').click(function () {
            hub.start().done(function () {
                order.server.hello()
            });
        });
        
        order.client.sayHello = function (msg) {
            let p = $("<p/>").text(msg);
            $('.demo').append(p);
        };

        hub.start();
        
    </script>
}

