@{
    ViewData["Title"] = "Home Page";
}

<a href="Employee" class="btn btn-default">EmployeeIndex</a>

<a id="addRandom" class="btn btn-danger">Add Random Product</a>

<a id="addRandomCategory" class="btn btn-danger">Add 4 Random Categories</a>
