    @using JPNFinalProject.Models.AuctionViewModels
@model AuctionViewModel

@{
    ViewData["Title"] = "Auction";
}

<link rel="stylesheet" href="~/css/Auction/site.css" asp-append-version="true" />

<div>
    <div style="padding-top: 8%">
        <div><label class="labelInfo">Signal Id:</label><label id="signalId" class="labelData"></label></div>    
      
        <input name="userName" type="text" id="userName" size="71" />
        <input name="nameButton" type="submit" id="nameButton" value="send" />
    </div>
    <div style="padding-top: 2%">
        <textarea readonly="readonly" style="resize:none" id="clientbox"></textarea>
        <input name="userBid" type="number" id="userBid" size="71" />
        <input name="bidButton" type="submit" id="bidButton" value="Byd" />

    </div>

</div>

@section scripts {
    <script src="~/js/SignalR/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>

    <script>
        var auction = $.connection.auction;
        var hub = $.connection.hub;

        var id;
        var name;

        hub.start().done(function () {
            console.log(name);
            auction.server.connectedUserAfterStart();
        })
        auction.client.getStartedAuction = function (msg, pId) {
            console.log(msg)
            id = pId;
            if (!$("#clientbox").val())
            {
                $("#clientbox").append(msg);
            }
            else
            {
                $("#clientbox").append("\n" + msg);
            }
        };


        auction.client.auctionStarted = function (msg, pId) {
            id = pId;
            if (!$("#clientbox").val())
            {
                $("#clientbox").append(msg);
            }
            else
            {
                $("#clientbox").append("\n" + msg);
            }
        };
        hub.start();

        $("#nameButton").click(function () {

            hub.start().done(function () {
                name = $("#userName").val();
                console.log(name);
                auction.server.userConnectionId($("#userName").val());
            })
        });

        auction.client.getUserConnectionId = function (msg) {
            console.log(msg)
            $("#signalId").html(msg);
        };

        $("#bidButton").click(function () {
            hub.start().done(function () {
                console.log(name + "  " + id + "  " + $("#userBid").val())
                auction.server.makeBid(name, id, $("#userBid").val());
            });
        });



        auction.client.newAcceptBid = function (msg) {
            $("#clientbox").append("\n" + msg);
        };
        hub.start();

        auction.client.notAcceptedBid = function (msg) {
            $("#clientbox").append("\n" + msg);
        };
        hub.start();

    </script>

}