@using JPNFinalProject.Models.EmployeeViewModels
@model EmployeeViewModel

@{
    ViewData["Title"] = "Bestilte produkter";
}

<p class="demo"></p>

<div class="test"></div>

<div class="container">
    <h2>Bestilte produkter</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Kunde Navn</th>
                <th>Kundemail</th>
                <th>Ordrenummer</th>
                <th>Handling</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.OrderList)
            {
                <tr>
                    <td id="customerName">@order.Person.Name</td>
                    <td id="customerMail">@order.CustomerMail</td>
                    <td id="ordreNumber">@order.OrderNumber</td>
                    <td><button id="viewProducts" type="button" class="btn btn-sm">Vis Produkter</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="productContainer">

</div>


@section scripts{
    <script src="~/js/SignalR/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>


    <script src="~/js/Employee/index.js"></script>
}