@{
    ViewData["Title"] = "Bestilte produkter";
}

<div class="container">
    <h2>Bestilte produkter</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produkt navn</th>
                <th>Pris</th>
                <th>Antal</th>
                <th>Kundemail</th>
                <th>Ordrenummer</th>
                <th>Tilsidesat</th>
                <th>Handling</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Remington HC5600 E51 Pro Power Hair Clipper</td>
                <td>300</td>
                <td>1</td>
                <td>phvorret@gmail.com</td>
                <td>24553892</td>
                <td><input type="checkbox" checked="checked" /></td>
                <td>
                    <button disabled="disabled">Tilsidesæt</button>
                    <button disabled="disabled">Ikke på lager</button>
                </td>
            </tr>
            <tr>
                <td>Remington Pro Power Hårklipper HC5200</td>
                <td>249</td>
                <td>1</td>
                <td>phvorret@gmail.com</td>
                <td>24553892</td>
                <td><input type="checkbox"/></td>
                <td>
                    <button>Tilsidesæt</button>
                    <button>Ikke på lager</button>
                </td>
            </tr>
            <tr>
                <td>Remington Apprentice Hårklipper</td>
                <td>199</td>
                <td>1</td>
                <td>ngp@gmail.com</td>
                <td>26836478</td>
                <td><input type="checkbox"/></td>
                <td>
                    <button>Tilsidesæt</button>
                    <button>Ikke på lager</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>