@using JPNFinalProject.Models.EmployeeViewModels
@model EmployeeViewModel

@{
    ViewData["Title"] = "Bestilte produkter";
}

<style>
    #indicator {
        margin-top: 15px;
        margin-left: 10px;
	    width: 10px;
	    height: 10px;
	    /*background: green;*/
	    -moz-border-radius: 50px;
	    -webkit-border-radius: 50px;
	    border-radius: 50px;
        display: inline-block;
    }
</style>

<p class="demo"></p>

<div class="test"></div>

<div class="container">
    <h2>Bestilte produkter</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Kunde Navn</th>
                <th>Kundemail</th>
                <th>Ordrenummer</th>
                <th>Handling</th>
                <th>Ordre bekræftet</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="productContainer">

</div>


@section scripts{
    <script src="~/js/SignalR/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>

    <script src="~/js/Employee/index.js"></script>
}